@import "{{ site.theme }}";
body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #ffffff;
    }

*,
*::before,
*::after {
    box-sizing: border-box;
    
}
h1, h2, h3, h4, h5, h6 {
    font-family: Raleway, sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
}

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
/heder/
.page-heder {
    
    border-bottom: 1px solid #e7e9fc;
}
      .heder-container {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #e7e9fc;
    }
    .header-logo {
    padding: 24px 0;
    margin-right: 76px;
    }
    .header-nav {
    display: flex;
    align-items: center;
    }
    .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
    }
    .contacts {
    font-style: normal;
    margin-left: auto;
    }
    .contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
    }
        .contacts-link {
            display: block;
            padding: 24px 0;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #2e2f42;
        }

.nav-link {
    display: block;
    padding: 24px 0;
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
}

.nav-link:hover,
.nav-link:focus 
.contacts-link:hover,
.contacts-link:focus {
color: #404bbf;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-part {
    color: #2e2f42;
}

.logo-footer {
    color: #F4F4FD;
    text-transform: uppercase;
}
/section1/

          .section {
            display: block;
            align-items: center;
            height: 600px;
            width: 1440px;
            padding: 188px 0;
              }
    
          .main {
              text-align: center;
            background-color: #2E2F42;
            padding: 188px 0;
          }
    
          .container-main {
              max-width: 1158px;
              margin: 0 auto;
            padding: 0 15px;
          }
    
          .start {
               max-width: 496px;
                    color: #FFF;
                        font-size: 56px;
                        line-height: 1.07143;
                        letter-spacing: 1.12px;
                        margin-top: 0;
                        margin-bottom: 48px;
          }
    
          .press {
            display: block;
            min-width: 169px;
            height: 56px;
            letter-spacing: 0.64px;
                padding-top: 16px;
                padding-left: 32px;
                padding-right: 32px;
                padding-bottom: 16px;
                    border-radius: 4px;
                        background: #4D5AE5;
                        border: none;
                        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
                        color: #FFF;
                        font-size: 16px;
                        font-weight: 500;
                        cursor: pointer;
            }
    .press:hover {
    background-color: #404BBF;
    }
    .press:focus {
    background-color: #404BBF;
}
.studio {
    padding: 120px 0;
    }
        .hidden {
            display: none;
        }
.studio-list {
    display: flex;
    gap: 24px;
    margin-right: 24px;
    flex-basis: calc((100% - 3 * 24px) / 4);
}
.studio-iten {
    margin-right: 0;
}
 

.chapter {
    color: #2E2F42;
    font-size: 36px;
    text-align: center;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    font-weight: 500;
    width: calc((100% - 72px) / 4);
}

.subtitle {
    margin-bottom: 8px;
    color: #2E2F42;
    font-size: 20px;
    text-align: left;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-weight: 500
    
}
.content {
    color: #434455;
    font-size: 16px;
    text-align: left;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 0;
    display: flex;
}
.set {
    display: flex;
    gap: 24px;
    width: calc((100% - 72px) / 4);
}
/section our-team /

.chapter {
    margin-bottom: 72px;
}


.our-team {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.list {
    background-color: #FFFFFF;
}

.app {
    background-color: #FFFFFF;
}
.section-portfolio {
    max-width: 1158px;
        margin: 0 auto;
        padding: 0 15px;
        display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            gap: 60px;
    
}
.kit {
    display: flex;
    flex-wrap: wrap;
}

.oko {
    color: #F4F4FD;
    background-color: #2E2F42;
    letter-spacing: 0.02em;
    line-height: 1.5;
}
.chapter {
text-align: center;
}

.web {
    color: #4D5AE5;
}

.studio {
    color: #2e2f42;
}

.studio-bright {
    color: #F4F4FD;
    text-transform: uppercase;
}






