body 
{
font-family: Roboto, sans-serif;
color: #434455;
background-color: #ffffff;
}
h1,h2,h3 {
font-family: Raleway, sans-serif;
}
    a {
        text-decoration: none;
}
    ul, ol {
        list-style-type: none;
        font-style: normal;
}

.link {
color:#2e2f42;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
font-style: normal;
}
.link:hover {
    color: #404bbf;
}
.link:focus {
color: #404bbf; 
}
.logo {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color:#4d5ae5;
} 
.studio {
color: #2e2f42;
 }
 .studio-footer {
color: #F4F4FD;
text-transform: uppercase;
 }
.address-link {
font-style: normal;
color: #434455;
}
.address-link:hover {
color: #404bbf;
}
.address-link:focus {
color: #404bbf;
}
.my-section {
    background-color: #2E2F42;
}   
.start {
color: #FFFFFF;
font-size: 56px;
text-align: center;
line-height: 1.07;
letter-spacing: 0.02em;
}
.press {
text-align: center;
font-size: 16px;
color: #FFFFFF;
background-color: #4D5AE5;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
cursor: pointer;
}
.press:hover {
    background-color: #404BBF;
}
.press:focus {
background-color: #404BBF;

}

.chapter {
color: #2E2F42;
font-size: 36px;
text-align: center;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
font-weight: 500;
}
.subtitle {
color: #2E2F42;
    font-size: 20px;
    text-align: left;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-weight: 500
}
.content {
    color: #434455;
        font-size: 16px;
        text-align: left;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
    .our-team {
    background-color: #F4F4FD;
    }
    .list {
        background-color: #FFFFFF;
    }
    .app {
    background-color: #FFFFFF;
    }
    .oko {
    color: #F4F4FD;
    background-color: #2E2F42;
    letter-spacing: 0.02em;
    line-height: 1.5;
    }
    .web {
    color: #4D5AE5;
    }
        .studio {
        color: #2e2f42;
           }
        .studio-bright {
        color: #F4F4FD;
            text-transform: uppercase;
        }
     


   


